<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamgym.fitgym">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_fitgym_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="fitgym.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.teamgym.fitgym" />

        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserTypeActivity"
            android:label="User Type" />
        <activity
            android:name=".activities.gymcompany.RegisterGymCompanyActivity"
            android:label="@string/title_activity_register_gym_company"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.personaltrainer.MyClientsActivity"
            android:label="@string/title_activity_my_clients"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.personaltrainer.NewClientActivity"
            android:label="@string/title_activity_new_client"
            android:parentActivityName=".activities.personaltrainer.MyClientsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamgym.fitgym.activities.personaltrainer.MyClientsActivity" />
        </activity>
        <activity
            android:name=".activities.gymcompany.SubscriptionTypeActivity"
            android:label="@string/title_activity_subscription_type"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamgym.fitgym.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.gymclient.NavigationClientActivity"
            android:label="@string/title_activity_navigation_client" />
        <activity
            android:name=".activities.personaltrainer.NavigationTrainerActivity"
            android:label="@string/title_activity_navigation_trainer" />
        <activity
            android:name=".activities.gymcompany.NavigationGymCompanyActivity"
            android:label="@string/title_activity_navigation_gym_company"></activity>
    </application>

</manifest>